<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @wiki.body %>
</p>

<p>
  <strong>Title:</strong>
  <%= @wiki.title %>
  
</p>

<p>
  <strong>Image:</strong>
  <%= @wiki.image %>
</p>


<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>
